<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <!-- <h2 class="project-tagline">{{ site.tagline }}</h2> -->
  <h2 class="site.author"> <a href="https://cispa.saarland/people/sahar.abdelnabi/" style={{site.auth_color}}> Sahar Abdelnabi</a> &nbsp &nbsp <a href="https://cispa.saarland/people/katharina.krombholz/" style={{site.auth_color}}>Katharina Krombholz</a>  &nbsp &nbsp  <a href="https://cispa.saarland/group/fritz/" style={{site.auth_color}}>Mario Fritz</a></h2>
  <h2 class="project-tagline">  <a href="https://cispa.saarland/" style={{site.auth_color}}> CISPA Helmholtz Center for Information Security</a></h2>
  <a href="{{site.paper_url}}" class="btn">Paper</a>
  <a href="{{site.github.repository_url}}" class="btn">Code</a>
  <!-- <a href="{{site.datasetlink}}" class="btn">Download Dataset</a> -->
</section>
